body {
  display: flex;
  justify-content: center;
  /*flex-flow: wrap;*/
}
p {
  font-size: .7em;
}

.three {
  width: 60vw;
  height: 30vh;
  border: solid;
  margin: 2vw;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}
header {
  height: 4vh;
  border-bottom: solid 1px yellow;
  text-align: center;
  margin-bottom: 1vh;
}
footer {
border-top: solid 1px green;
text-align: center;
}
